{% extends "_layout/base.html" %}
{% load bootstrap3 %}

{% block page_title %}{{ sub.title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="article_content">{{ sub.title }}</h2>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default {% if reading == 'unread' %}disabled{% endif %}" href="{% url 'subscription' sub.pk %}?reading=unread">Unread</a>
        <a class="btn btn-default {% if reading == 'saved' %}disabled{% endif %}" href="{% url 'subscription' sub.pk %}?reading=saved">Saved</a>
        <a class="btn btn-default {% if reading == 'all' %}disabled{% endif %}" href="{% url 'subscription' sub.pk %}?reading=all">All</a>
    </div>
    <p>
    {% if sub.feed.link %}
        <h3 class="maxlen"><a target="_blank" href="{{ sub.feed.link }}"><span class="glyphicon glyphicon-home"></span> {{ sub.feed.link }}</a></h3>
    {% endif %}
    </p>
    <p></p>
    <div>
        <a class="btn btn-default" href="{% url 'update_subscription' sub.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
        <a class="btn btn-default" href="{% url 'remove_subscription' sub.pk %}"><span class="glyphicon glyphicon-trash"></span>Trash</a>
        <a class="btn btn-default" href="{% url 'mark_read' sub.pk %}"><span class="glyphicon glyphicon-check"></span>Mark Read</a>
    </div>

    <hr>
    {% for post in posts %}
        <div class="gourmand-personalarticle">
            <span class="badge pull-right hidden-xs">Published {{ post.article.when|timesince }} ago</span>
            <h4 class="article_content">
                {% if post.archived %}
                    <span class="saved_post glyphicon glyphicon-star"></span>
                {% else %}
                    <span class="unsaved_post glyphicon glyphicon-star-empty"></span>
                {% endif %}
                <a href="{% url 'article' post.pk %}">
                {% if post.active %}
                    <strong>{{ post.article.title }}</strong>
                {% else %}
                    {{ post.article.title }}
                {% endif %}
                </a>
            </h4>
            <span class="badge visible-xs">Published {{ post.article.when|timesince }} ago</span>
        </div>
        <hr>
    {% empty %}
        No {{ reading }} posts.
    {% endfor %}
</div>
{% endblock content %}
