{% extends "_layout/base.html" %}
{% load staticfiles %}

{% block page_title %}{{personal_article.sub.title}} - {{personal_article.article.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="" id="buttons-top">
        <a class="btn btn-lg btn-primary" href="{% url 'reader' %}">Reader</a>
        <a class="btn btn-lg btn-primary" href="{% url 'read_new' personal_article.sub.pk %}">Next</a>
    </div>
    <h2 class="article_content" >{{ personal_article.sub.title }}</h2>
    {% with article=personal_article.article %}
        <h4 class="article_content"><a href="{{ article.main_link }}" target='_blank'>{{ article.title }}</a></h4>
        {% for link in article.extralink_set.all %}
            <h5 class="article_content"><a href="{{ link.link }}" target='_blank'>{{ link.title }}</a></h5>
        {% endfor %}
        <span class="badge">Published {{ article.when|timesince }} ago</span>
        <p></p>
        <div class="article_content">
            {{ article.main_content|safe }}
        </div>
        <p></p>
        {% for ec in article.extracontent_set.all %}
            <div class="article_content extra_content">
                {{ ec.content|safe }}
            </div>
        {% endfor %}
    {% endwith %}
    <div id="buttons-bottom" class="hidden">
        <a class="btn btn-lg btn-primary" href="{% url 'reader' %}">Reader</a>
        <a class="btn btn-lg btn-primary" href="{% url 'read_new' personal_article.sub.pk %}">Next</a>
    </div>
</div>
{% endblock content %}

{% block footerjs %}
{{ block.super }}
<script src="{% static 'js/jquery.visible.min.js' %}"></script>
<script>
$(document).ready(function() {
    function TooLong(remove) {
        if (!$('#buttons-top').visible(true)) {
            $('#buttons-bottom').removeClass('hidden');
            $(window).off('.TooLong');
        };
    }

    $('.article_content img').addClass('img-responsive');
    $('.article_content a').attr('target', '_blank');
    TooLong();
    $(window).on('scroll.TooLong', TooLong);
    $(window).on('resize.TooLong', TooLong);
});
</script>
{% endblock footerjs %}
