{% extends "_layout/base.html" %}

{% block page_title %}{{personal_article.sub.feed.title}} - {{personal_article.article.title}}{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-lg btn-primary" href="{% url 'read_new' personal_article.sub.pk %}">Next</a>
    <a class="btn btn-lg btn-primary" href="{% url 'reader' %}">Reader</a>
    <h2 class="article_content" >{{ personal_article.sub.feed.title }}</h2>
    {% with article=personal_article.article %}
        <h4 class="article_content"><a href="{{ article.main_link }}" target='_blank'>{{ article.title }}</a></h4>
        <span class="badge">Published {{ article.when|timesince }} ago</span>
        <div class="article_content">
            {{ article.main_content|safe }}
        </div>
    {% endwith %}
</ul>
</div>
{% endblock content %}

{% block footerjs %}
{{ block.super }}
<script>
$(document).ready(function() {
    $('.article_content img').addClass('img-responsive');
    $('.article_content a').attr('target', '_blank');
});
</script>
{% endblock footerjs %}
