{% extends "_layout/base.html" %}
{% load bootstrap3 %}

{% block page_title %}Update {{ subscription.title }}{% endblock %}

{% block content %}
<div class="container">
<p>
    <h2>Updating {{ subscription.title }}</h2>
    {% if subscription.title != subscription.feed.title %}
        <h3>Original Title: {{ subscription.feed.title }}</h3>
    {% endif %}
    <h3>Feed URL: {{ subscription.feed.href }}</h3>
    <p>
    </p>
    <form class="form" action="{% url 'update_subscription' object.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Update
            </button>
            <a class="btn btn-primary" href="{% url 'reader' %}">Cancel</a>
        {% endbuttons %}
    </form>
</p>
</div>
{% endblock content %}
