{% extends "_layout/base.html" %}
{% load bootstrap3 %}

{% block page_title %}RSS Reader{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 gourmand-sidebar hidden-xs">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Categories</button>
            </p>
            <h4>Categories</h4>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" {% if not active_cat %}class="active"{% endif %}>
                    <a href="{% url 'reader' %}?reset=True">All<span class="badge pull-right">{{ count_all }}</span></a>
                </li>
                {% for category in categories %}
                    <li role="presentation" {% if active_cat == category.id %}class="active"{% endif %}>
                        <a href="{% url 'reader' %}?category={{ category.name|urlencode }}">
                        <span class="badge pull-right">{{ category.count }}</span>
                        <div class="maxlen">{{ category.name }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 gourmand-main">


            <div>
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Categories</button>
                </p>
                <h4 class="maxlen">Feeds{% if active_cat %} - {{ active_cat_name }}{% endif %}</h4>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default {% if reading == 'unread' %}disabled{% endif %}" href="{% url 'reader' %}?reading=unread">Unread</a>
                <a class="btn btn-default {% if reading == 'saved' %}disabled{% endif %}" href="{% url 'reader' %}?reading=saved">Saved</a>
                <a class="btn btn-default {% if reading == 'all' %}disabled{% endif %}" href="{% url 'reader' %}?reading=all">All</a>
            </div>
            <br/>
            {% for sub in subs %}
                <span class="pull-right">
                    <a class ="btn btn-default" href="{% url 'read_new' sub.pk %}">
                        <span class="glyphicon glyphicon-list-alt"></span> {{ sub.count }}<span class="hidden-xs"> {{ reading }}</span>
                    </a>
                </span>
                <div class="gourmand-subscription">
                    <a href="{% url 'subscription' sub.pk %}"><div class="maxlen">{{ sub.title }}</div></a>
                </div>
                <hr>
            {% empty %}
                No subscriptions.
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footerjs %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.gourmand-sidebar').toggleClass('hidden-xs');
  });
});
</script>
{% endblock %}
