{% load bootstrap3 %}
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Gourmand - {% block page_title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Gourmand">
  <meta name="application-name" content="Gourmand">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% block header %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/gourmand.css' %}" />
  {% endblock header %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'front' %}">Gourmand</a>
    </div>
    {% if request.user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'reader' %}">Reader</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Feeds <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'add_subscription' %}">Add Feed</a></li>
                    <li><a href="#"><s>Browse Feeds</s></a></li>
                    <li><a href="{% url 'import_opml' %}">Import Feeds</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><s>Manage Feeds</s></a></li>
                    <li><a href="#"><s>Manage Categories</s></a></li>
                </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><s>Account</s></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#"><s>Sign-up</s></a></li>
          </ul>
        {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% bootstrap_messages %}

{% block content%}
{% endblock %}

<footer class="footer">
    <div class="container">
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li><span class="text-muted">Gourmand © 2015-2016</span></li>
                <li><a href="#"><s>About</s></a></li>
                <li><a href="#"><s>FAQ</s></a></li>
            </ul>
        </div>
    </div>
</footer>
{% block footerjs %}
{% bootstrap_javascript %}
{% endblock footerjs %}

</body>
</html>
