[uwsgi]
plugin = python3
chdir = {{ app_path }}
venv = {{ virtualenv_path }}
module = config.wsgi:application
processes = {{ ansible_processor_cores * 2 + 1}}
socket = /tmp/uwsgi.sock
env = SECRET_KEY=supersecret
env = DATABASE_URL=postgres://gourmand:dev@localhost:5432/gourmandb?ATOMIC_REQUESTS=True
env = ALLOWED_HOSTS=*,
