# Django
Django < 1.9

# Django Requirements
psycopg2

# Django Third-Party
django-bootstrap3
django-braces
django-debug-toolbar
django-environ
django-extensions
whitenoise

# Third-Party
defusedxml
feedparser
python-dateutil

# Developer Requirements
ipython
pip-tools

# Testing
coverage
