# Django
Django

# Django Requirements
psycopg2

# Django Third-Party
django-async-messages
django-bootstrap3
django-braces
django-debug-toolbar
django-environ
django-extensions
django-hijack
-e git+https://github.com/staticdev/django-pagination-bootstrap.git@ee33e92351156f16aa321eb712a76fbe0503ac05#egg=django_pagination_bootstrap
django-q
-e git+https://github.com/jsocol/django-waffle.git@3264bf5e1a1373267b75410300e8bf3191c50271#egg=django_waffle
whitenoise

# Third-Party
beautifulsoup4
defusedxml
feedparser
python-dateutil
requests

# Ops
opbeat

# Developer Requirements
ipython
pip-tools

# Testing
coverage
httmock

# Deployment
gunicorn
setproctitle
