# Django
Django

# Django Requirements
psycopg2

# Django Third-Party
django-bootstrap3
django-braces
django-environ
django-extensions
whitenoise

# Third-Party
feedparser
python-dateutil

# Developer Requirements
pip-tools

# Testing
coverage
